/* Анімація заголовок */
@keyframes my-animation {
    0% {
        transform: translateY(-1220%)
    }
    50% {
        transform: translateY(8rem)
    }
    80% {
        transform: translateY(-4rem)
    }
    100% {
        transform: translateY(0rem)
    }
}


/* Анімація хмаринки */
@keyframes cloud-animation {
  0% {
    transform: translateX(-20%)scale(1.2)
  }

  100% {
    transform: translateX(15%)scale(1)
  }
}
